<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders App</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body class="bg-body-tertiary">
<!-- HEADER -->
<div class="d-flex flex-column p-5 justify-content-center w-100">
    <div th:replace="layouts/header :: header">Header Goes Here</div>


    <!-- CONTENT -->
    <section layout:fragment="content">
        <p>Replace with a page that has the fragment content</p>
    </section>


    <!-- FOOTER -->
    <div th:replace="layouts/footer :: footer">Footer Goes Here</div>
</div>

<script src="/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>