<html layout:decorate="layouts/layout" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">

  <h2 th:text="${title}"></h2>

  <table class="table table-striped">

    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Order #</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.orderNo}"></td>
            <td th:text="${order.productName}"></td>
            <td th:text="${order.price}"></td>
            <td th:text="${order.quantity}"></td>
            <td>
              <form action="#" th:action="@{/order/editForm/}" th:object="${order}" method="post">
                <input name="id" type="hidden" th:value="${order.id}">
                <input name="orderNo" type="hidden" th:value="${order.orderNo}">
                <input name="productName" type="hidden" th:value="${order.productName}">
                <input name="price" type="hidden" th:value="${order.price}">
                <input name="quantity" type="hidden" th:value="${order.quantity}">
                <button class="btn btn-dark" type="submit" name="editItem">Edit</button>
              </form>
            </td>
            <td>
              <form action="#" th:action="@{/order/delete/}" th:object="${order}" method="post">
                <input name="id" type="hidden" th:value="${order.id}">
                <input name="orderNo" type="hidden" th:value="${order.orderNo}">
                <input name="productName" type="hidden" th:value="${order.productName}">
                <input name="price" type="hidden" th:value="${order.price}">
                <input name="quantity" type="hidden" th:value="${order.quantity}">
                <button class="btn btn-danger" type="submit" name="deleteItem">Delete</button>
              </form>
            </td>
        </tr>
    </tbody>

  </table>

</div>